# quiz

In [ ]:
. oracle kopo 서버2에서 kopo_product_volume 불러오세요
. 컬럼을 모두 대문자로 변경하세요

In [2]:
# PANDAS 패키지 불러오기
import pandas as pd 
import pymysql 
from sqlalchemy import create_engine
 
# DB 커넥션 열기
address = 'oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl'
engine = create_engine(address) 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
query = 'SELECT * FROM KOPO_PRODUCT_VOLUME'
customerData = pd.read_sql_query(query, engine)

# 데이터 VIEW
customerData

# 컬럼해더 재정의 FOR문으로 돌린다.
customerData.columns = [x.upper() for x in customerData.columns]
customerData.head()

  REGIONID PRODUCTGROUP YEARWEEK    VOLUME
0      A01       ST0002   201512  151750.0
1      A01       ST0001   201520  645626.0
2      A01       ST0002   201520  125863.0
3      A01       ST0001   201515  810144.0
4      A01       ST0002   201515  128999.0

In [ ]:
3. kopo_product_volume 에서 지역 ST0002 상품이면서 거래량이 30만건 이상인 부분만 추출하세요

In [25]:
# customerData.query
# quizAnswer = customerData.query('PRODUCTGROUP == "ST0002" & VOLUME >= 300000')
# quizAnswer = customerData.query(""" PRODUCTGROUP == 'ST0002' & VOLUME >= 300000 """)


# # 이렇게 변수를 설정해서 조건을 넣는것이 좋다. 
selectedVolume = 300000
selectedProduct = "ST0002"

quizAnswer = customerData[(customerData.PRODUCTGROUP == selectedProduct) 
                          & (customerData.VOLUME >= selectedVolume)]

quizAnswer

    REGIONID PRODUCTGROUP YEARWEEK     VOLUME
93       A01       ST0002   201552   422468.0
105      A01       ST0002   201551   356271.0
109      A01       ST0002   201549   669711.0
113      A01       ST0002   201547   378339.0
121      A01       ST0002   201548  1400339.0

4. kopo_product_volume 나온결과에서 첫행 2개와 PRODUCTGROUP이후 모든 컬럼을 출력하세요

In [28]:
# dfcAnswer = quizAnswer.iloc[0:2, 1:4]
# dfcAnswer

dfcAnswer = quizAnswer.iloc[0:2, 1:] # 0~2행, 1열부터~ 전체 가져오라~
dfcAnswer

    PRODUCTGROUP YEARWEEK    VOLUME
93        ST0002   201552  422468.0
105       ST0002   201551  356271.0

# 4. 이상 데이터 정제하기
데이터 중 이상치 다른 값으로 정제

분석할 데이터 중 지속년도가 1년 미만은 너무 적어서 1로 변경

해줘야하는데 어떻게 하지?

In [34]:
import pandas as pd
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM customerdata', engine) 

# 컬럼해더 재정의
customerData.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

# 데이터 VIEW
customerData.head()

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  E11917  3516.500000    2          5.5    2.087540  Big-Screen-lover
1  E16075  3418.048887    2          4.2    2.771469      Sleeping-dog
2  E16221  3408.300000    2          5.0    1.988682  Big-Screen-lover
3  E18145  3408.300000    2          4.9    1.521029  Big-Screen-lover
4  E19404  3764.940414    2          6.5    0.900000        Early-bird

### 데이터프레임명[‘컬럼명‘] = np.where( 조건식, yes값, no값)

In [39]:

# numpy 라이브러리 
import numpy as np

#컬럼 추가 생성 및 조건에 따른 컬럼명 변경
customerData["PRODUCTAGE_NEW"] = np.\
where(customerData["PRODUCTAGE"] < 1, 1, customerData["PRODUCTAGE"])


customerData.head()

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW
0,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,2.087540
1,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,2.771469
2,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,1.988682
3,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,1.521029
4,E19404,3764.940414,2,6.5,0.900000,Early-bird,1.000000

### quiz
productage가 1보다작으면 1 2보다작으면2 3보다작으면3
이외는 5라고 새로운 컬럼 product_age_new를 생성하세요

In [76]:
#컬럼 추가 생성 및 조건에 따른 컬럼명 변경
# 1,2,3
# step = [1,2,3]

step = list(range(1,4))
maxValue =5



customerData["PRODUCTAGE_NEW"] = np.where(customerData["PRODUCTAGE"] < step[0], step[0],\
                                          np.where(customerData["PRODUCTAGE"] < step[1], step[1],\
                                          np.where(customerData["PRODUCTAGE"] < step[2], step[2],\
                                          maxValue)))
customerData.head()

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,productage_new2
0,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,3,3
1,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,3,3
2,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,2,2
3,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,2,2
4,E19404,3764.940414,2,6.5,0.900000,Early-bird,1,1

## 이상 데이터 정제하기 #2

In [78]:

#컬럼 추가 생성 및 조건에 따른 컬럼명 변경
def refining(df):
    if df['PRODUCTAGE'] < 1:
        return 1
    elif df['PRODUCTAGE'] < 2:
        return 2
    elif df['PRODUCTAGE'] < 3:
        return 3
    else:
        return 5

customerData["productage_new2"] =customerData.apply(refining, axis=1)

customerData.head()

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,productage_new2
0,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,3,3
1,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,3,3
2,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,2,2
3,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,2,2
4,E19404,3764.940414,2,6.5,0.900000,Early-bird,1,1

# 5. 데이터 정렬하기

In [ ]:
데이터프레임명.sort_values([‘컬럼1’,’컬럼2’,..], ascending=[True, False])

True 오름차순
False 내림차순

In [88]:
# customerData.sort_values(["CUSTID", "AVGPRICE"], ascending=[True, False])

customerData.sort_values(["CUSTID"], ascending=[True])

# customerData.sort_values(["CUSTID","AVGPRICE"], ascending=[True,False])

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,productage_new2
131,A13566,4273.900000,3,6.4,1.679181,Big-Screen-lover,2,2
132,A14219,3642.441950,2,4.0,2.682023,Sleeping-dog,3,3
133,A15312,3653.884565,2,5.0,3.208202,Sleeping-dog,5,5
134,A16605,3713.211107,2,6.6,0.900000,Early-bird,1,1
135,B10634,3391.074215,2,4.2,2.453656,Sleeping-dog,3,3
136,B16849,3755.263391,2,4.7,2.786665,Sleeping-dog,3,3
137,B18816,3213.911446,2,6.4,0.900000,Early-bird,1,1
138,C10639,3516.500000,2,5.2,2.564830,Big-Screen-lover,3,3
139,C12717,3732.900000,2,5.7,2.069995,Big-Screen-lover,3,3
140,C15050,4020.173425,2,4.9,3.013440,Sleeping-dog,5,5
141,C18306,4005.005142,2,4.7,3.113618,Sleeping-dog,5,5
142,C18622,3246.000000,1,5.0,1.891624,Big-Screen-lover,2,2
143,C19178,3624.700000,2,5.6,2.137246,Big-Screen-lover,3,3
144,D11795,2991.014703,2,6.4,0.800000,Early-bird,1,1
145,D13030,3227.855655,2,4.8,3.467370,Sleeping-dog,5,5
146,D15289,4165.700000,2,6.9,2.911016,Big-Screen-lover,3,3
147,D17241,4166.533130,2,4.7,2.577757,Sleeping-dog,3,3
148,D17880,3383.145853,2,4.5,2.903990,Sleeping-dog,3,3
149,E10778,4165.700000,2,6.7,2.122257,Big-Screen-lover,3,3
0,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,3,3
1,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,3,3
2,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,2,2
3,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,2,2
4,E19404,3764.940414,2,6.5,0.900000,Early-bird,1,1
5,F10222,3191.065822,2,6.5,0.900000,Early-bird,1,1
6,F12979,4165.700000,2,6.1,2.128362,Big-Screen-lover,3,3
7,F14866,3137.800000,2,5.1,1.725892,Big-Screen-lover,2,2
8,F17131,3179.708359,3,6.5,1.100000,Early-bird,2,2
9,F18646,3334.244233,2,4.5,3.273196,Sleeping-dog,5,5
10,F19938,3732.900000,2,5.4,2.011303,Big-Screen-lover,3,3
...,...,...,...,...,...,...,...,...
101,U16894,3234.465609,2,3.6,2.606419,Sleeping-dog,3,3
102,U17547,3313.905655,2,4.0,2.448368,Sleeping-dog,3,3
103,U17748,3394.152840,2,4.0,2.185742,Sleeping-dog,3,3
104,V10654,3902.329790,2,4.6,3.260149,Sleeping-dog,5,5
105,V16516,3149.259875,2,4.1,2.410823,Sleeping-dog,3,3
106,V16704,2605.631083,2,6.6,0.900000,Early-bird,1,1
107,V18566,3527.701867,3,6.5,0.900000,Early-bird,1,1
108,V19072,3462.400000,2,5.3,1.922932,Big-Screen-lover,2,2
109,W10832,3527.360507,2,4.1,2.136971,Sleeping-dog,3,3
110,W13032,4003.400000,2,6.1,2.519623,Big-Screen-lover,3,3
111,W13404,4296.873743,3,6.5,1.100000,Early-bird,2,2
112,W13995,2411.008838,2,6.4,1.000000,Early-bird,2,2
113,W16193,3402.729703,2,6.4,0.900000,Early-bird,1,1
114,W18228,3480.455474,2,6.4,0.900000,Early-bird,1,1
115,X10158,3949.300000,2,6.3,1.815666,Big-Screen-lover,2,2
116,X13390,2947.543982,3,6.3,1.100000,Early-bird,2,2
117,X14259,3481.314549,2,4.3,2.528063,Sleeping-dog,3,3
118,X19598,3516.500000,2,5.1,2.646259,Big-Screen-lover,3,3
119,X19768,3486.085831,2,4.6,2.835355,Sleeping-dog,3,3
120,Y10906,3408.300000,2,6.0,2.131432,Big-Screen-lover,3,3
121,Y12458,2976.211190,1,3.5,2.199677,Sleeping-dog,3,3
122,Y13678,3408.300000,2,5.6,2.084005,Big-Screen-lover,3,3
123,Z11525,3259.018704,3,6.4,0.900000,Early-bird,1,1
124,Z12343,3498.896985,2,6.6,0.900000,Early-bird,1,1
125,Z12772,3029.600000,2,4.9,2.093035,Big-Screen-lover,3,3
126,Z13253,3678.800000,2,5.9,2.463670,Big-Screen-lover,3,3
127,Z13534,3662.437527,3,6.6,0.900000,Early-bird,1,1
128,Z16428,3516.500000,2,5.8,2.371301,Big-Screen-lover,3,3
129,Z16735,3300.100000,2,5.6,1.704942,Big-Screen-lover,2,2
130,Z19835,3326.526183,2,6.7,1.200000,Early-bird,2,2

# 6. 데이터 요약분석하기

In [ ]:
데이터프레임명.groupby([‘컬럼명’]).집계함수

In [89]:
# 평균 구하기
# as_index=True 없어도 상관없음.

meanValue = customerData.\
groupby(['CUSTTYPE','EMI'], as_index=True).\
mean()
print(meanValue)

                         AVGPRICE  DEVICECOUNT  PRODUCTAGE  PRODUCTAGE_NEW  \
CUSTTYPE         EMI
Big-Screen-lover 1    3246.000000     5.000000    1.891624        2.000000
                 2    3535.317391     5.508696    2.223247        2.804348
                 3    4111.600000     6.400000    1.838520        2.333333
Early-bird       1    2390.083736     6.300000    1.000000        2.000000
                 2    3232.445885     6.460606    0.936364        1.242424
                 3    3455.966035     6.475000    0.962500        1.437500
Sleeping-dog     1    3185.918464     3.833333    2.357587        2.777778
                 2    3504.298670     4.353659    2.724274        3.463415

                      productage_new2
CUSTTYPE         EMI
Big-Screen-lover 1           2.000000
                 2           2.804348
                 3           2.333333
Early-bird       1           2.000000
                 2           1.242424
                 3           1.437500
Sleeping-dog     1           2.777778
                 2           3.463415

## EMI 별 MAX 값을 구하세요

In [90]:
customerData.head()

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,productage_new2
0,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,3,3
1,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,3,3
2,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,2,2
3,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,2,2
4,E19404,3764.940414,2,6.5,0.900000,Early-bird,1,1

In [91]:
# 
maxValue = customerData.\
groupby([ 'EMI'], as_index=True).\
max()
print(maxValue)

     CUSTID     AVGPRICE  DEVICECOUNT  PRODUCTAGE      CUSTTYPE  \
EMI
1    Y12458  3419.462596          6.3    2.994395  Sleeping-dog
2    Z19835  4166.533130          6.9    3.483573  Sleeping-dog
3    Z13534  4296.873743          6.9    2.055707    Early-bird

     PRODUCTAGE_NEW  productage_new2
EMI
1                 3                3
2                 5                5
3                 3                3

In [92]:
len(maxValue)

3

In [ ]:

spark에서 slide 했던 것과 비슷한것이 여기도 있다.
center 평균구할때 사용, window 5개씩 롤링하며 평균.

자신 포함해서 5개. 즉 양 날개 2개씩 포함해서 TEST 컬럼에 평균치를 낸다.

응용하면
stock price 보는데, 단기, 장기 이동펻균의 차이를 구하고,
10주 평균 1천, 5주 평균 2천이였다?
최근에 잘 팔린거지!

단기 - 장기 = 1보다 크면 사야겠다

식으로 구할 때 rolling 사용!

In [94]:
customerData["TEST"] = customerData["PRODUCTAGE"].rolling(window = 5, center =False).mean()

In [96]:
customerData.head(10)

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,productage_new2,TEST
0,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,3,3,NaN
1,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,3,3,NaN
2,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,2,2,NaN
3,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,2,2,NaN
4,E19404,3764.940414,2,6.5,0.900000,Early-bird,1,1,1.853744
5,F10222,3191.065822,2,6.5,0.900000,Early-bird,1,1,1.616236
6,F12979,4165.700000,2,6.1,2.128362,Big-Screen-lover,3,3,1.487615
7,F14866,3137.800000,2,5.1,1.725892,Big-Screen-lover,2,2,1.435057
8,F17131,3179.708359,3,6.5,1.100000,Early-bird,2,2,1.350851
9,F18646,3334.244233,2,4.5,3.273196,Sleeping-dog,5,5,1.825490

In [ ]:
center =True 로 하면 5개 데이터를 구하면서 
center 도 넣어주네.

In [104]:
customerData["TEST"] = customerData["PRODUCTAGE"].rolling(window = 5, center =True).mean()

In [105]:
customerData.head(10)

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,productage_new2,TEST
0,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,3,3,NaN
1,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,3,3,NaN
2,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,2,2,1.853744
3,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,2,2,1.616236
4,E19404,3764.940414,2,6.5,0.900000,Early-bird,1,1,1.487615
5,F10222,3191.065822,2,6.5,0.900000,Early-bird,1,1,1.435057
6,F12979,4165.700000,2,6.1,2.128362,Big-Screen-lover,3,3,1.350851
7,F14866,3137.800000,2,5.1,1.725892,Big-Screen-lover,2,2,1.825490
8,F17131,3179.708359,3,6.5,1.100000,Early-bird,2,2,2.047751
9,F18646,3334.244233,2,4.5,3.273196,Sleeping-dog,5,5,1.802078

### 맨 위 2개는 5개 데이터 확보가 안되서 안채워진다. 이것도 채우려면 아래와 같이.

In [109]:
import math

suborder = math.floor(5/2)
suborder

2

In [ ]:
# 즉 맨위 2개 데이터에 대한 PRODUCTAGE 평균만 구한걸 list에 넣어서 넣어준거다.

In [110]:
list = []
for i in range(0, suborder):
    list.append(customerData["PRODUCTAGE"][0:i+ suborder].mean())

list

[2.42950459765736, 2.2825638908675567]

In [111]:
for i in range(0, suborder):
    customerData["TEST"][i] = list[i]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [112]:
customerData.head(10)

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,productage_new2,TEST
0,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,3,3,2.429505
1,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,3,3,2.282564
2,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,2,2,1.853744
3,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,2,2,1.616236
4,E19404,3764.940414,2,6.5,0.900000,Early-bird,1,1,1.487615
5,F10222,3191.065822,2,6.5,0.900000,Early-bird,1,1,1.435057
6,F12979,4165.700000,2,6.1,2.128362,Big-Screen-lover,3,3,1.350851
7,F14866,3137.800000,2,5.1,1.725892,Big-Screen-lover,2,2,1.825490
8,F17131,3179.708359,3,6.5,1.100000,Early-bird,2,2,2.047751
9,F18646,3334.244233,2,4.5,3.273196,Sleeping-dog,5,5,1.802078

In [ ]:
아래 두개 결과가 값을까? 당연히.. 다르다.

In [124]:
# loc 로도 넣을 수 있다.

list2 = [1,2]

for i in range(0, suborder):
    customerData.loc[i, "TEST"] = list2[i]
customerData.head()

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,productage_new2,TEST
0,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,3,3,1.000000
1,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,3,3,2.000000
2,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,2,2,1.853744
3,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,2,2,1.616236
4,E19404,3764.940414,2,6.5,0.900000,Early-bird,1,1,1.487615

In [123]:
for i in range(0, suborder):
    customerData["TEST"][i] = list[i]
    
customerData.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,productage_new2,TEST
0,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,3,3,2.429505
1,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,3,3,2.282564
2,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,2,2,1.853744
3,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,2,2,1.616236
4,E19404,3764.940414,2,6.5,0.900000,Early-bird,1,1,1.487615

### 맨 아래 2개도 채워보기!

In [125]:
customerData.tail()

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,productage_new2,TEST
145,D13030,3227.855655,2,4.8,3.467370,Sleeping-dog,5,5,2.378678
146,D15289,4165.700000,2,6.9,2.911016,Big-Screen-lover,3,3,2.532027
147,D17241,4166.533130,2,4.7,2.577757,Sleeping-dog,3,3,2.796478
148,D17880,3383.145853,2,4.5,2.903990,Sleeping-dog,3,3,NaN
149,E10778,4165.700000,2,6.7,2.122257,Big-Screen-lover,3,3,NaN