# quiz

In [ ]:
oracle kopo 서버2에서 kopo_product_volume 불러오세요
컬럼을 모두 대문자로 변경하세요

In [55]:
# PANDAS 패키지 불러오기
import pandas as pd 
import pymysql 
from sqlalchemy import create_engine
 
# DB 커넥션 열기
address = 'oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl'
engine = create_engine(address) 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
query = 'SELECT * FROM KOPO_PRODUCT_VOLUME'
customerData = pd.read_sql_query(query, engine)

# 데이터 VIEW
customerData

# 컬럼해더 재정의 FOR문으로 돌린다.
customerData.columns = [x.upper() for x in customerData.columns]
customerData.head()

  REGIONID PRODUCTGROUP YEARWEEK    VOLUME
0      A01       ST0002   201512  151750.0
1      A01       ST0001   201520  645626.0
2      A01       ST0002   201520  125863.0
3      A01       ST0001   201515  810144.0
4      A01       ST0002   201515  128999.0

In [ ]:
3. kopo_product_volume 에서 지역 ST0002 상품이면서 거래량이 30만건 이상인 부분만 추출하세요

In [25]:
# customerData.query
# quizAnswer = customerData.query('PRODUCTGROUP == "ST0002" & VOLUME >= 300000')
# quizAnswer = customerData.query(""" PRODUCTGROUP == 'ST0002' & VOLUME >= 300000 """)


# # 이렇게 변수를 설정해서 조건을 넣는것이 좋다. 
selectedVolume = 300000
selectedProduct = "ST0002"

quizAnswer = customerData[(customerData.PRODUCTGROUP == selectedProduct) 
                          & (customerData.VOLUME >= selectedVolume)]

quizAnswer

    REGIONID PRODUCTGROUP YEARWEEK     VOLUME
93       A01       ST0002   201552   422468.0
105      A01       ST0002   201551   356271.0
109      A01       ST0002   201549   669711.0
113      A01       ST0002   201547   378339.0
121      A01       ST0002   201548  1400339.0

4. kopo_product_volume 나온결과에서 첫행 2개와 PRODUCTGROUP이후 모든 컬럼을 출력하세요

In [28]:
# dfcAnswer = quizAnswer.iloc[0:2, 1:4]
# dfcAnswer

dfcAnswer = quizAnswer.iloc[0:2, 1:] # 0~2행, 1열부터~ 전체 가져오라~
dfcAnswer

    PRODUCTGROUP YEARWEEK    VOLUME
93        ST0002   201552  422468.0
105       ST0002   201551  356271.0

# 4. 이상 데이터 정제하기
데이터 중 이상치 다른 값으로 정제

분석할 데이터 중 지속년도가 1년 미만은 너무 적어서 1로 변경

해줘야하는데 어떻게 하지?

In [51]:
import pandas as pd
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData1 = pd.read_sql_query('SELECT * FROM customerdata', engine) 

# 컬럼해더 재정의
customerData1.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

# 데이터 VIEW
customerData1.head()

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  E11917  3516.500000    2          5.5    2.087540  Big-Screen-lover
1  E16075  3418.048887    2          4.2    2.771469      Sleeping-dog
2  E16221  3408.300000    2          5.0    1.988682  Big-Screen-lover
3  E18145  3408.300000    2          4.9    1.521029  Big-Screen-lover
4  E19404  3764.940414    2          6.5    0.900000        Early-bird

### 데이터프레임명[‘컬럼명‘] = np.where( 조건식, yes값, no값)

oracle case when, decode 랑 비슷

In [52]:
# numpy 라이브러리 
import numpy as np

#컬럼 추가 생성 및 조건에 따른 컬럼명 변경
customerData1["PRODUCTAGE_NEW"] = np.\
where(customerData1["PRODUCTAGE"] < 1, 1, customerData1["PRODUCTAGE"])


customerData1.head()

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW
0,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,2.087540
1,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,2.771469
2,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,1.988682
3,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,1.521029
4,E19404,3764.940414,2,6.5,0.900000,Early-bird,1.000000

### quiz
productage가 1보다작으면 1 2보다작으면2 3보다작으면3
이외는 5라고 새로운 컬럼 product_age_new를 생성하세요

In [53]:
import pandas as pd
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData2 = pd.read_sql_query('SELECT * FROM customerdata', engine) 

# 컬럼해더 재정의
customerData2.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

# 데이터 VIEW
customerData2.head()

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  E11917  3516.500000    2          5.5    2.087540  Big-Screen-lover
1  E16075  3418.048887    2          4.2    2.771469      Sleeping-dog
2  E16221  3408.300000    2          5.0    1.988682  Big-Screen-lover
3  E18145  3408.300000    2          4.9    1.521029  Big-Screen-lover
4  E19404  3764.940414    2          6.5    0.900000        Early-bird

In [42]:
step = list(range(1,4))

step[0]

1

In [54]:
#컬럼 추가 생성 및 조건에 따른 컬럼명 변경
# 1,2,3
# step = [1,2,3]

step = list(range(1,4))
maxValue =5

customerData2["PRODUCTAGE_NEW"] = np.where(customerData1["PRODUCTAGE"] < step[0], step[0],\
                                          np.where(customerData1["PRODUCTAGE"] < step[1], step[1],\
                                          np.where(customerData1["PRODUCTAGE"] < step[2], step[2],\
                                          maxValue)))
customerData2.head()

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW
0,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,3
1,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,3
2,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,2
3,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,2
4,E19404,3764.940414,2,6.5,0.900000,Early-bird,1

## 이상 데이터 정제하기 #2

In [44]:

#컬럼 추가 생성 및 조건에 따른 컬럼명 변경
def refining(df):
    if df['PRODUCTAGE'] < 1:
        return 1
    elif df['PRODUCTAGE'] < 2:
        return 2
    elif df['PRODUCTAGE'] < 3:
        return 3
    else:
        return 5

customerData["productage_new2"] =customerData.apply(refining, axis=1)

customerData.head()

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,productage_new2
0,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,2.087540,3
1,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,2.771469,3
2,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,1.988682,2
3,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,1.521029,2
4,E19404,3764.940414,2,6.5,0.900000,Early-bird,1.000000,1

# 5. 데이터 정렬하기

In [ ]:
데이터프레임명.sort_values([‘컬럼1’,’컬럼2’,..], ascending=[True, False])

True 오름차순
False 내림차순

In [45]:
customerData.sort_values(["CUSTID", "AVGPRICE"], ascending=[True, False])
# customerData.sort_values(["CUSTID"], ascending=[True])

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,productage_new2
131,A13566,4273.900000,3,6.4,1.679181,Big-Screen-lover,1.679181,2
132,A14219,3642.441950,2,4.0,2.682023,Sleeping-dog,2.682023,3
133,A15312,3653.884565,2,5.0,3.208202,Sleeping-dog,3.208202,5
134,A16605,3713.211107,2,6.6,0.900000,Early-bird,1.000000,1
135,B10634,3391.074215,2,4.2,2.453656,Sleeping-dog,2.453656,3
136,B16849,3755.263391,2,4.7,2.786665,Sleeping-dog,2.786665,3
137,B18816,3213.911446,2,6.4,0.900000,Early-bird,1.000000,1
138,C10639,3516.500000,2,5.2,2.564830,Big-Screen-lover,2.564830,3
139,C12717,3732.900000,2,5.7,2.069995,Big-Screen-lover,2.069995,3
140,C15050,4020.173425,2,4.9,3.013440,Sleeping-dog,3.013440,5
141,C18306,4005.005142,2,4.7,3.113618,Sleeping-dog,3.113618,5
142,C18622,3246.000000,1,5.0,1.891624,Big-Screen-lover,1.891624,2
143,C19178,3624.700000,2,5.6,2.137246,Big-Screen-lover,2.137246,3
144,D11795,2991.014703,2,6.4,0.800000,Early-bird,1.000000,1
145,D13030,3227.855655,2,4.8,3.467370,Sleeping-dog,3.467370,5
146,D15289,4165.700000,2,6.9,2.911016,Big-Screen-lover,2.911016,3
147,D17241,4166.533130,2,4.7,2.577757,Sleeping-dog,2.577757,3
148,D17880,3383.145853,2,4.5,2.903990,Sleeping-dog,2.903990,3
149,E10778,4165.700000,2,6.7,2.122257,Big-Screen-lover,2.122257,3
0,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,2.087540,3
1,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,2.771469,3
2,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,1.988682,2
3,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,1.521029,2
4,E19404,3764.940414,2,6.5,0.900000,Early-bird,1.000000,1
5,F10222,3191.065822,2,6.5,0.900000,Early-bird,1.000000,1
6,F12979,4165.700000,2,6.1,2.128362,Big-Screen-lover,2.128362,3
7,F14866,3137.800000,2,5.1,1.725892,Big-Screen-lover,1.725892,2
8,F17131,3179.708359,3,6.5,1.100000,Early-bird,1.100000,2
9,F18646,3334.244233,2,4.5,3.273196,Sleeping-dog,3.273196,5
10,F19938,3732.900000,2,5.4,2.011303,Big-Screen-lover,2.011303,3
...,...,...,...,...,...,...,...,...
101,U16894,3234.465609,2,3.6,2.606419,Sleeping-dog,2.606419,3
102,U17547,3313.905655,2,4.0,2.448368,Sleeping-dog,2.448368,3
103,U17748,3394.152840,2,4.0,2.185742,Sleeping-dog,2.185742,3
104,V10654,3902.329790,2,4.6,3.260149,Sleeping-dog,3.260149,5
105,V16516,3149.259875,2,4.1,2.410823,Sleeping-dog,2.410823,3
106,V16704,2605.631083,2,6.6,0.900000,Early-bird,1.000000,1
107,V18566,3527.701867,3,6.5,0.900000,Early-bird,1.000000,1
108,V19072,3462.400000,2,5.3,1.922932,Big-Screen-lover,1.922932,2
109,W10832,3527.360507,2,4.1,2.136971,Sleeping-dog,2.136971,3
110,W13032,4003.400000,2,6.1,2.519623,Big-Screen-lover,2.519623,3
111,W13404,4296.873743,3,6.5,1.100000,Early-bird,1.100000,2
112,W13995,2411.008838,2,6.4,1.000000,Early-bird,1.000000,2
113,W16193,3402.729703,2,6.4,0.900000,Early-bird,1.000000,1
114,W18228,3480.455474,2,6.4,0.900000,Early-bird,1.000000,1
115,X10158,3949.300000,2,6.3,1.815666,Big-Screen-lover,1.815666,2
116,X13390,2947.543982,3,6.3,1.100000,Early-bird,1.100000,2
117,X14259,3481.314549,2,4.3,2.528063,Sleeping-dog,2.528063,3
118,X19598,3516.500000,2,5.1,2.646259,Big-Screen-lover,2.646259,3
119,X19768,3486.085831,2,4.6,2.835355,Sleeping-dog,2.835355,3
120,Y10906,3408.300000,2,6.0,2.131432,Big-Screen-lover,2.131432,3
121,Y12458,2976.211190,1,3.5,2.199677,Sleeping-dog,2.199677,3
122,Y13678,3408.300000,2,5.6,2.084005,Big-Screen-lover,2.084005,3
123,Z11525,3259.018704,3,6.4,0.900000,Early-bird,1.000000,1
124,Z12343,3498.896985,2,6.6,0.900000,Early-bird,1.000000,1
125,Z12772,3029.600000,2,4.9,2.093035,Big-Screen-lover,2.093035,3
126,Z13253,3678.800000,2,5.9,2.463670,Big-Screen-lover,2.463670,3
127,Z13534,3662.437527,3,6.6,0.900000,Early-bird,1.000000,1
128,Z16428,3516.500000,2,5.8,2.371301,Big-Screen-lover,2.371301,3
129,Z16735,3300.100000,2,5.6,1.704942,Big-Screen-lover,1.704942,2
130,Z19835,3326.526183,2,6.7,1.200000,Early-bird,1.200000,2

In [48]:
#인덱스 초기화 방법
sortedData = customerData.reset_index(drop=True)
sortedData.head()

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,productage_new2
0,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,2.087540,3
1,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,2.771469,3
2,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,1.988682,2
3,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,1.521029,2
4,E19404,3764.940414,2,6.5,0.900000,Early-bird,1.000000,1

# 6. 데이터 요약분석하기

## 데이터프레임명.groupby([‘컬럼명’]).집계함수

In [58]:
customerData1.head()

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW
0,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,2.087540
1,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,2.771469
2,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,1.988682
3,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,1.521029
4,E19404,3764.940414,2,6.5,0.900000,Early-bird,1.000000

In [57]:
# 평균 구하기
# as_index=True 없어도 여기선 상관없음.
# mean() 하면 알아서 텍스트 제외하고 값 찾아서 평균 구한다. 
meanValue = customerData1.\
groupby(['CUSTTYPE','EMI'], as_index=True).\
mean()
print(meanValue)

                         AVGPRICE  DEVICECOUNT  PRODUCTAGE  PRODUCTAGE_NEW
CUSTTYPE         EMI
Big-Screen-lover 1    3246.000000     5.000000    1.891624        1.891624
                 2    3535.317391     5.508696    2.223247        2.223247
                 3    4111.600000     6.400000    1.838520        1.838520
Early-bird       1    2390.083736     6.300000    1.000000        1.000000
                 2    3232.445885     6.460606    0.936364        1.021212
                 3    3455.966035     6.475000    0.962500        1.031250
Sleeping-dog     1    3185.918464     3.833333    2.357587        2.357587
                 2    3504.298670     4.353659    2.724274        2.724274

## EMI 별 MAX 값을 구하세요

In [61]:
customerData1.head()

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW
0,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,2.087540
1,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,2.771469
2,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,1.988682
3,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,1.521029
4,E19404,3764.940414,2,6.5,0.900000,Early-bird,1.000000

In [62]:
# 
maxValue = customerData1.\
groupby([ 'EMI'], as_index=True).\
max()
print(maxValue)

     CUSTID     AVGPRICE  DEVICECOUNT  PRODUCTAGE      CUSTTYPE  \
EMI
1    Y12458  3419.462596          6.3    2.994395  Sleeping-dog
2    Z19835  4166.533130          6.9    3.483573  Sleeping-dog
3    Z13534  4296.873743          6.9    2.055707    Early-bird

     PRODUCTAGE_NEW
EMI
1          2.994395
2          3.483573
3          2.055707

In [92]:
len(maxValue)

3

## 데이터프레임명.groupby([‘컬럼명’]).describe()

In [84]:
# 기본통계치 구하기
stdValue = customerData1.\
groupby(['CUSTTYPE','EMI'], as_index=True).\
describe()

In [85]:
stdValue

                     AVGPRICE                                        \
                        count         mean         std          min
CUSTTYPE         EMI
Big-Screen-lover 1        1.0  3246.000000         NaN  3246.000000
                 2       46.0  3535.317391  322.633901  2650.900000
                 3        3.0  4111.600000  195.060324  3895.200000
Early-bird       1        1.0  2390.083736         NaN  2390.083736
                 2       33.0  3232.445885  345.810935  2411.008838
                 3       16.0  3455.966035  412.696326  2811.265932
Sleeping-dog     1        9.0  3185.918464  199.545685  2963.370122
                 2       41.0  3504.298670  317.495859  2857.684730

                                                                          \
                              25%          50%          75%          max
CUSTTYPE         EMI
Big-Screen-lover 1    3246.000000  3246.000000  3246.000000  3246.000000
                 2    3367.725000  3489.450000  3719.375000  4165.700000
                 3    4030.450000  4165.700000  4219.800000  4273.900000
Early-bird       1    2390.083736  2390.083736  2390.083736  2390.083736
                 2    2991.014703  3256.152962  3436.456382  4020.245162
                 3    3145.243316  3464.950624  3703.933945  4296.873743
Sleeping-dog     1    2980.229239  3159.839204  3374.091339  3419.462596
                 2    3266.600816  3481.314549  3706.655001  4166.533130

                     DEVICECOUNT              ...    PRODUCTAGE_NEW            \
                           count      mean    ...               75%       max
CUSTTYPE         EMI                          ...
Big-Screen-lover 1           1.0  5.000000    ...          1.891624  1.891624
                 2          46.0  5.508696    ...          2.514020  3.367229
                 3           3.0  6.400000    ...          1.918190  2.055707
Early-bird       1           1.0  6.300000    ...          1.000000  1.000000
                 2          33.0  6.460606    ...          1.000000  1.300000
                 3          16.0  6.475000    ...          1.100000  1.100000
Sleeping-dog     1           9.0  3.833333    ...          2.749678  2.994395
                 2          41.0  4.353659    ...          2.938848  3.483573

                      TEST                                                    \
                     count      mean       std       min       25%       50%
CUSTTYPE         EMI
Big-Screen-lover 1     1.0  2.191186       NaN  2.191186  2.191186  2.191186
                 2    45.0  1.924470  0.387849  1.350851  1.616236  1.822946
                 3     3.0  2.211929  0.352866  1.932468  2.013669  2.094870
Early-bird       1     1.0  1.711888       NaN  1.711888  1.711888  1.711888
                 2    33.0  1.714391  0.451989  0.920000  1.283925  1.690745
                 3    16.0  1.656559  0.307637  1.179442  1.490286  1.544743
Sleeping-dog     1     9.0  1.898734  0.189973  1.517775  1.859365  1.988391
                 2    40.0  2.195191  0.320034  1.507458  1.928989  2.227574


                           75%       max
CUSTTYPE         EMI
Big-Screen-lover 1    2.191186  2.191186
                 2    2.266986  2.611141
                 3    2.351659  2.608448
Early-bird       1    1.711888  1.711888
                 2    2.075985  2.579485
                 3    1.808974  2.490043
Sleeping-dog     1    2.030094  2.083373
                 2    2.450928  2.796478

[8 rows x 40 columns]

# 이동평균 rolling

In [ ]:

spark에서 slide 했던 것과 비슷한것이 여기도 있다.
center 평균구할때 사용, window 5개씩 롤링하며 평균.

window= 5개 하면, 자신 포함해서 5개. 즉 양 날개 2개씩 포함해서 TEST 컬럼에 평균치를 낸다.

응용하면
stock price 보는데, 단기, 장기 이동펻균의 차이를 구하고,
10주 평균 1천, 5주 평균 2천이였다?
최근에 잘 팔린거지!

단기 - 장기 = 1보다 크면 사야겠다
식으로 구할 때 rolling 사용!

In [63]:
customerData1["TEST"] = customerData1["PRODUCTAGE"].rolling(window = 5, center =False).mean()

In [64]:
customerData1.head(10)

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,TEST
0,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,2.087540,NaN
1,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,2.771469,NaN
2,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,1.988682,NaN
3,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,1.521029,NaN
4,E19404,3764.940414,2,6.5,0.900000,Early-bird,1.000000,1.853744
5,F10222,3191.065822,2,6.5,0.900000,Early-bird,1.000000,1.616236
6,F12979,4165.700000,2,6.1,2.128362,Big-Screen-lover,2.128362,1.487615
7,F14866,3137.800000,2,5.1,1.725892,Big-Screen-lover,1.725892,1.435057
8,F17131,3179.708359,3,6.5,1.100000,Early-bird,1.100000,1.350851
9,F18646,3334.244233,2,4.5,3.273196,Sleeping-dog,3.273196,1.825490

In [67]:
customerData1["PRODUCTAGE"][1:6].mean()

1.6162362376004462

In [ ]:
center =True 로 하면 자기 자신이 중심이 되서 양 날개 5개의 합계 평균을 구한다

In [69]:
customerData1["TEST"] = customerData1["PRODUCTAGE"].rolling(window = 5, center =True).mean()

In [70]:
customerData1.head(10)

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,TEST
0,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,2.087540,NaN
1,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,2.771469,NaN
2,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,1.988682,1.853744
3,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,1.521029,1.616236
4,E19404,3764.940414,2,6.5,0.900000,Early-bird,1.000000,1.487615
5,F10222,3191.065822,2,6.5,0.900000,Early-bird,1.000000,1.435057
6,F12979,4165.700000,2,6.1,2.128362,Big-Screen-lover,2.128362,1.350851
7,F14866,3137.800000,2,5.1,1.725892,Big-Screen-lover,1.725892,1.825490
8,F17131,3179.708359,3,6.5,1.100000,Early-bird,1.100000,2.047751
9,F18646,3334.244233,2,4.5,3.273196,Sleeping-dog,3.273196,1.802078

### 맨 위 2개는 5개 데이터 확보가 안되서 안채워진다. 이것도 채우려면 아래와 같이.

In [72]:
import math

suborder = math.floor(5/2)
suborder

2

In [ ]:
# 즉 맨위 2개 데이터에 대한 PRODUCTAGE 평균만 구한걸 list에 넣어서 넣어준거다.

In [74]:
list = []
for i in range(0, suborder):
    list.append(customerData1["PRODUCTAGE"][0:i+ suborder].mean())

list

[2.42950459765736, 2.2825638908675567]

In [75]:
for i in range(0, suborder):
    customerData1["TEST"][i] = list[i]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [76]:
customerData1.head(10)

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,TEST
0,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,2.087540,2.429505
1,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,2.771469,2.282564
2,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,1.988682,1.853744
3,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,1.521029,1.616236
4,E19404,3764.940414,2,6.5,0.900000,Early-bird,1.000000,1.487615
5,F10222,3191.065822,2,6.5,0.900000,Early-bird,1.000000,1.435057
6,F12979,4165.700000,2,6.1,2.128362,Big-Screen-lover,2.128362,1.350851
7,F14866,3137.800000,2,5.1,1.725892,Big-Screen-lover,1.725892,1.825490
8,F17131,3179.708359,3,6.5,1.100000,Early-bird,1.100000,2.047751
9,F18646,3334.244233,2,4.5,3.273196,Sleeping-dog,3.273196,1.802078

### 디버깅은 아래와 같이

In [18]:
customerData.head()

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,TEST
0,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,NaN
1,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,NaN
2,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,1.853744
3,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,1.616236
4,E19404,3764.940414,2,6.5,0.900000,Early-bird,1.487615

In [ ]:

(여기선 교수님이 자신빼고 2개로 안하심.다른 예제에서는 자신 빼고 3개 부터 위에서 채워넣을것)

중간값이 2.

자신 포함 2개 값의 합계 평균으로 시작

자신 포함 3개... 올라가다가

양날개 자신포함 5개 되니 끝난다.

In [12]:
customerData["PRODUCTAGE"][0:2]

0    2.087540
1    2.771469
Name: PRODUCTAGE, dtype: float64

In [17]:
customerData["PRODUCTAGE"][0:2].mean()

2.42950459765736

In [23]:
customerData["PRODUCTAGE"][0:3]

0    2.087540
1    2.771469
2    1.988682
Name: PRODUCTAGE, dtype: float64

In [22]:
customerData["PRODUCTAGE"][0:3].mean()

2.2825638908675567

In [21]:
customerData["PRODUCTAGE"][0:5]

0    2.087540
1    2.771469
2    1.988682
3    1.521029
4    0.900000
Name: PRODUCTAGE, dtype: float64

In [19]:

customerData["PRODUCTAGE"][0:5].mean()

1.853744190443308

### 아래 두개 결과가 값을까? 당연히.. 다르다.

In [77]:
# list 넣은걸 loc 로도 넣을 수 있다. 값만 같으면 똑같이 넣을 수 있는것
# 행, 열

list2 = [1,2]

for i in range(0, suborder):
    customerData1.loc[i, "TEST"] = list2[i]
customerData1.head()

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,TEST
0,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,2.087540,1.000000
1,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,2.771469,2.000000
2,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,1.988682,1.853744
3,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,1.521029,1.616236
4,E19404,3764.940414,2,6.5,0.900000,Early-bird,1.000000,1.487615

In [78]:
for i in range(0, suborder):
    customerData1["TEST"][i] = list[i]
    
customerData1.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,TEST
0,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,2.087540,2.429505
1,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,2.771469,2.282564
2,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,1.988682,1.853744
3,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,1.521029,1.616236
4,E19404,3764.940414,2,6.5,0.900000,Early-bird,1.000000,1.487615

## 맨 아래 2개도 채워보기!

In [79]:
customerData1.tail()

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,TEST
145,D13030,3227.855655,2,4.8,3.467370,Sleeping-dog,3.467370,2.378678
146,D15289,4165.700000,2,6.9,2.911016,Big-Screen-lover,2.911016,2.532027
147,D17241,4166.533130,2,4.7,2.577757,Sleeping-dog,2.577757,2.796478
148,D17880,3383.145853,2,4.5,2.903990,Sleeping-dog,2.903990,NaN
149,E10778,4165.700000,2,6.7,2.122257,Big-Screen-lover,2.122257,NaN

#### 149번 이동평균
양 날개 즉 마지막이니까, 148~149의 값만 평균

In [81]:
customerData1["PRODUCTAGE"][-2:].mean()

2.513123518857175

#### 148번 이동평균
양 날개 , 147~149의 값만 평균

In [70]:
customerData1["PRODUCTAGE"][-3:].mean()

2.534667877644923

In [86]:
customerData1["PRODUCTAGE"][-3:]
# 148번

147    2.577757
148    2.903990
149    2.122257
Name: PRODUCTAGE, dtype: float64

### list= [148, 149] 이동평균 들어갔다

In [67]:
list = []
for i in range(0, suborder):
    list.append(customerData1["PRODUCTAGE"][-3 + i:].mean())
    print(i)
list

0
1

[2.534667877644923, 2.513123518857175]

In [105]:
customerData1["TEST"][-2:]

148    2.534668
149         NaN
Name: TEST, dtype: float64


### 아래와 같이 하면 순서대로 들어가는걸 확인 
customerData["TEST"][-2:]
customerData["TEST"][-1:]

In [106]:
for i in range(0, suborder):
    customerData1["TEST"][-2 + i:] = list[i]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [82]:
customerData1.tail()

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,TEST
145,D13030,3227.855655,2,4.8,3.467370,Sleeping-dog,3.467370,2.378678
146,D15289,4165.700000,2,6.9,2.911016,Big-Screen-lover,2.911016,2.532027
147,D17241,4166.533130,2,4.7,2.577757,Sleeping-dog,2.577757,2.796478
148,D17880,3383.145853,2,4.5,2.903990,Sleeping-dog,2.903990,NaN
149,E10778,4165.700000,2,6.7,2.122257,Big-Screen-lover,2.122257,NaN